@using Back_End_Project.Models

@model List<Event>
@{
    ViewData["Title"] = "Event";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (Event @eventt in Model)
            {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-event mb-60">
                    <div class="event-img">
                        <a asp-action="Detail" asp-route-id=@eventt.Id>
                            <img src="~/img/event/@eventt.Image" alt="event">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                        <div class="event-date">
                            <h3>@eventt.StartTime></h3>
                        </div>
                    </div>
                    <div class="event-content text-left">
                            <h4><a asp-action="Detail" asp-route-id=@eventt.Id>@eventt.Name</a></h4>
                        <ul>
                            <li><span>time:</span> @eventt.StartTime</li>
                            <li><span>venue</span> New Yourk City</li>
                        </ul>
                        <div class="event-content-right">
                                <a class="default-btn" asp-action="Detail" asp-route-id=@eventt.Id>join now</a>
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</div>
<!-- Event End -->

