@using Back_End_Project.Models
@model SocialMedia
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-6">
   
            <h4>Icon: <i class="@Model.Icon"></i></h4>
            <h4>Path: <a href="@Model.Path">@Model.Path</a> </h4>

            <h4>Teacher: @Model.Teacher.Name </h4>

            <div style="display: flex; gap: 15px">
                <a class="btn btn-info" asp-action="Index">Go Back</a>
                <form method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
